.button {
    position: absolute;
    left: 45%;
    top: 15%;
}

.panel {
    position: absolute;
    left: 45%;
    top: 25%;
    width: 300px;
    height: 150px;
    background-color: bisque;
}

.write {
    position: absolute;
    left: 55%;
    top: 15%;
}

.To-do_btn {
    position: absolute;
    left: 40%;
    top: 25%;
}
.delaite_function {
    position: absolute;
    left: 60%;
    top: 25%;
}

.ckeckBox {
    background: #FFFFFF;
    border: 1px solid #000000;
    transition: .1s;

    position: absolute;
    left: 53%;
    top: 15%;
    width: 25px;
    height: 25px
}

.ckeckBox-super {
    background: #9105FF;
    transition: .1s;

    position: absolute;
    left: 53%;
    top: 15%;
    width: 25px;
    height: 25px
}

.ckeckYes-super {
    position: absolute;
    width: 2.34px;
    height: 26.94px;
    left: 63%;

    background: #FFFFFF;
    transform: rotate(22.22deg);
}

.ckeckYess-super {
    position: absolute;
    width: 18.57px;
    height: 2.59px;
    left: -8%;
    top: 65%;

    background: #FFFFFF;
    transform: rotate(48.33deg);
}

.point_btn {
    position: absolute;
    left: 40%;
    top: 55%;
}

.point {
    position: absolute;
    width: 11px;
    height: 12px;
    border-radius: 40px;
    left: 53%;
    top: 15%;

    background: #000000;
}

.number_List {
    position: absolute;
    left: 53%;
    top: 14%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 39px;

    color: #000000;
}

.numberList_btn {
    position: absolute;
    left: 40%;
    top: 78%;
}

.burger_but {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 53%;
    top: 15%;
    background-color: #000000;
}

.input_burger {
    position: absolute;
    left: 53%;
    top: 19%;
}